<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poster!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'poster/style.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark poster-navbar">
    <div class="container">
        <a class="navbar-brand" href="#">Poster</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link mr-2 ml-2" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-2 ml-2" href="#">About</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link mr-2 ml-2" href="#">Posts</a>
                </li>
                <li class="nav-item">
                <button type="button" class="btn btn-outline-light mr-2 ml-2">
                    Log Out
                </button>
                </li>
                {% else %}
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-light mr-2 ml-2 mt-lg-0 mb-lg-0 mt-sm-2 mb-sm-2" data-toggle="modal" data-target="#loginModal">
                        Login
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-light mr-2 ml-2" data-toggle="modal" data-target="#signupModal">
                        Signup
                    </button>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

{% if not user.is_authenticated %}
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white" id="loginModalTitle">Login Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <form action="{% url 'login' %}" method="post">
                {{ auth_form.non_field_errors }}
            <div class="modal-body">
                {% csrf_token %}
                    <div class="form-group">
                        {{ auth_form.username.errors }}
                        <label for="email">Username: </label>
                        {{ auth_form.username }}
                        <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone
                            else.
                        </small>
                    </div>
                    <div class="form-group">
                        {{ auth_form.password.errors }}
                        <label for="password">Password</label>
                        {{ auth_form.password }}
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white" id="signupModalTitle">Signup Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <form action="{% url 'signup' %}" method="post">
            <div class="modal-body">
                {% csrf_token %}
                {{ signup_form.non_field_errors }}
                    <div class="form-group">
                        {{ signup_form.username.errors }}
                        <label for="email">Username:</label>
                        {{ signup_form.username }}
                        <small id="emailHelp" class="form-text text-muted">Pick a unique username.
                        </small>
                    </div>
                    <div class="form-group">
                        {{ signup_form.password1.errors }}
                        <label for="password">Password</label>
                        {{ signup_form.password1 }}
                    </div>
                    <div class="form-group">
                        {{ signup_form.password2.errors }}
                        <label for="password">Confirm Password</label>
                        {{ signup_form.password2 }}
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endif %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>