{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="text-container text-center">
         <h1 class="display-4 mt-4 md-4">Purpose</h1>
        <p class="lead">Recently I started to build a portfolio site on Github. As there is no backend, I can't really have any
            interactions there. I wanted to add a "contact me" form, but that wasn't possible directly. There are some
            third party systems that could be used. But I decided to make something like this and become third party
            myself! You can use this for adding forms to your static site and receive the posts. Cheers!</p>
    </div>
    </div>
{% endblock %}

